body {
    min-width: 320px;
}
.background-image {
  position: fixed;
  left: 0;
  top:0;
  z-index: 1;
  display: block;

  background-image: url(../images/loginBK.jpg);
  background-repeat:no-repeat;
  background-size:cover;

  width: 100vw;
  height: 100vh;

  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}
.login-panel {
    width: 30%;
    position:absolute;
    top:25%;
    left:35%;
    z-index: 9999;
    min-width: 250px;
    padding:0;
}
.login-panel .form-control {
    padding: 6px 0;
   
}
.login-form{
    position:relative;
    border: 2px solid #ffffff;
    border-radius: 3px;
    width: 100%;
    /*margin: 0 auto;*/
    /*margin-left:15px;*/
    padding:50px;
    background: rgba(47, 79, 79, 0.5);
    /*background-color: #2f4f4f;*/
}
.form-group{
    padding:0;
    /*margin:0;*/
    /*width:100%;*/
}
.login-form input[type="text"]{
    width: 100%;
    box-shadow: 0px 2px 2px 0px unset #808080;
    border-radius:28px;
    padding:10px;
    font-size:16px;
    text-align:center;
    border:none;
}
.login-form input[type="text"]:focus {
    outline:none;
    box-shadow: 0px 1px 35px 0px rgba(51,149,214,1);
    -webkit-box-shadow: 0px 1px 35px 0px rgba(51,149,214,1);
    -moz-box-shadow: 0px 1px 35px 0px rgba(51,149,214,1);
    box-shadow: 0px 1px 35px 0px rgba(51,149,214,1);
}
.login-form input[type="password"]{
    width: 100%;
    box-shadow: 0px 2px 2px 0px unset #808080;
    border-radius:28px;
    padding:10px;
    font-size:16px;
    text-align:center;
    border:none;

}
.login-form input[type="password"]:focus {
    outline:none;
    border-color:#2980b9;
    box-shadow: 0px 1px 35px 0px rgba(51,149,214,1);
    -webkit-box-shadow: 0px 1px 35px 0px rgba(51,149,214,1);
    -moz-box-shadow: 0px 1px 35px 0px rgba(51,149,214,1);
    box-shadow: 0px 1px 35px 0px rgba(51,149,214,1);
}
.login-form input[type="submit"]{   
      background: #3498db;
      background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
      background-image: -moz-linear-gradient(top, #3498db, #2980b9);
      background-image: -ms-linear-gradient(top, #3498db, #2980b9);
      background-image: -o-linear-gradient(top, #3498db, #2980b9);
      background-image: linear-gradient(to bottom, #3498db, #2980b9);
      -webkit-border-radius: 28;
      -moz-border-radius: 28;
      border-radius: 28px;
      font-family: Arial;
      color: #ffffff;
      font-size: 20px;
      padding: 10px 20px 10px 20px;
      text-decoration: none;
      border:none;
}
.login-form input[type="submit"]:hover{
      background: #3cb0fd;
      background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
      background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
      background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
      background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
      background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
      text-decoration: none;
}
.btn-submit{
    text-align:right;
    margin-right:45px;
}

.login-form label{
    color: #ffffff;
    font-size:16px;
}
@media screen and (max-width: 480px) {
    .login-panel {
        width: 80%;
        position:absolute;
        top:20%;
        left:10%;
        z-index: 9999;
    }
}
@media screen and (max-width: 768px) {
    .login-panel {
        width: 60%;
        position:absolute;
        top:20%;
        left:20%;
        z-index: 9999;
    }
}
@media screen and (max-width: 960px) {
    .login-panel {
        width: 40%;
        position:absolute;
        top:20%;
        left:30%;
        z-index: 9999;
    }
}